*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
    color: #444;
    overflow-x: hidden;
}

/* --- NAV (Barra de menu) --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%; /* 8% a los lados para centrar visuelmente */
    position: absolute; /* Para que quede sobre el fondo */
    width: 100%;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.color-dot {
    color: #e2d523;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.btn-nav {
    background-color: #333;
    color: #fff !important;
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-nav:hover {
    background-color: #e2d523;
    color: #000 !important;
}

/* --- HERO SECTION --- */
.hero {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    position: relative;
}

/* Lado izquierdo: Texto */
.hero-text {
    max-width: 500px; /* Limitamos el ancho para que no se estire mucho */
    z-index: 2;
}

.hero-text h4 {
    color: #e2d523;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 700;
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text p {
    color: #777;
    margin-bottom: 30px;
    line-height: 1.6;
}

.highlight {
    color: #e2d523;
}

/* Botones */
.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn-primary {
    padding: 15px 30px;
    background-color: #e2d523;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(226, 213, 35, 0.4);
    transition: 0.3s;
}

.btn-secondary {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

/* Lado derecho img */
.hero-img {
    position: relative;
    width: 45%;
}

.hero-img img {
    width: 100%;
    transform: rotate(-15deg);
    z-index: 2;
    position: relative;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.3));
    transition: 0.5s;
}

/* Animacion simple: Al pasar el mouse por la imagen, se endereza */
.hero-img img:hover {
    transform: rotate(0deg) scale(1.05);
}

/* El circulo decorativo detrtas de la imagen */
.circle-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: #e2d523;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.2;
}


/* ----- SECCIÓN DE CARACTERÍSTICAS ----- */
.features {
    padding: 100px 8%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
}

.feature-box {
    flex-basis: 30%; /* Cada caja intenta ocupar un 30 del ancho */
    padding: 30px 20px;
    transition: 0.3s;
    cursor: default;
}

/* Efecto: Al pasar el mouse la caja sube y tiene una sombra suave */
.feature-box:hover {
    background-color: #fffcf0; /* Un fondo amarillo muuy clarito */
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

/* Contenedor del icono (el circulo amarillo) */
.icon-container {
    display: inline-block; /* Para que el contenedor se ajuste al tamaño del icono */
    width: 80px;
    height: 80px;
    background-color: #f9ca24;
    color: #fff;
    border-radius: 50%;
    font-size: 32px;
    line-height: 80px; /* Truco para centrar vertical,emte el icono enuna linea */
    margin-bottom: 25px;
    box-shadow: 0 10px 20px rgba(247, 204, 48, 0.5);
}

.feature-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.feature-box p {
    color: #777;
    line-height: 1.6;
    font-size: 15px;
    padding: 0 15px;
}

/* ----- SECCIÓN DE GALERÍA ------ */
.gallery-section {
    padding: 50px 8% 100px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.gallery-grid {
    display: grid;
    /* TRUCO PRO: Esto crea columnas automáticas. 
        Si la pantalla es grande, caben 4. Si es chica, bajan a 2 o 1. 
        Sin media queries. */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* Efecto Overlay (Capa oscura con texto) */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Capa negra transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Invisible por defecto */
    transition: 0.3s;
}

.overlay p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transform: translateY(20px); /* Empieza un poco mas abajo */
    transition: 0.3s;
}

/* Animacion Hover */
/* 1. Al pasar el mouse, la amagen se acerca (zoom) */
.gallery-item:hover img {
    transform: scale(1.1);
}

/* 2. Al pasar el mouse, aparece la capa oscura */
.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item:hover .overlay p {
    transform: translateY(0);
}


/* ---- FOOTER ---- */
.main-footer {
    background-color: #111;
    color: #fff;
    padding: 60px 8% 20px;
    text-align: center;
}

.footer-content h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-content p {
    color: #777;
    margin-bottom: 20px;
}

.socials a {
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.3s;
}

.socials a:hover {
    color: #f9ca24;
}

.copyright {
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 24px;
    font-size: 14px;
    color: #555;
}


/* ----- RESPONSIVE DESING (Celulares y Tablets) ----- */
@media screen and (max-width: 768px) {
    
    /* 1. AJUSTES DEL MENU DE NAVEGACION */
    .navbar {
        position: relative;
        flex-direction: column;
        background-color: #fff;
        padding: 20px;
    }

    .nav-links {
        margin-top: 20px;
        gap: 20px;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    /* AJUSTES DEL HERO (PORTADA) */
    .hero {
        flex-direction: column;
        height: auto;
        padding: 40px 8%;
        text-align: center;
    }
    
    .hero-text{
        max-width: 100%;
        margin-bottom: 50px;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-buttons {
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .btn-secondary {
        justify-content: center;
    }

    .hero-img {
        width: 80%;
        margin: 0 auto;
    }

    .circle-bg {
        width: 250px;
        height: 250px;
    }

    /* 3. AJUSTE DE FEATURES (CARACTERISTICAS) */
    .features {
        flex-direction: column;
        padding: 60px 8%;
    }

    .feature-box {
        margin-bottom: 20px;
    }

    /* 4. AJUSTE DE GALERIA */
    .gallery-section h2 {
        font-size: 30px;
    }
}